@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.containerC{
    position: relative;
    justify-content: center;
    align-items: center;
}

.containerC .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.containerC .card:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-1deg, #ca6827 10%,  #c0a52c 30% , #4D793B 100%);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.containerC .card:hover:before
{
    clip-path: circle(300px at 80% -20%);
}

.containerC .card:after
{
   /* content: 'Madroños'; texto de fondo*/
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 10em;
    font-weight: 800;
    font-style: italic;
    color:rgba(255,255,255,0.04);
}

.containerC .card .imgBx
{
    position: absolute;
    padding-right: 92.1%;
    top: 41%;
    transform: translateY(-50%);
    z-index: 50;
    width: 85%;
    height: 20%;
    transition: 0.4s;
}

.containerC .card:hover .imgBx
{
    opacity: 0;
    visibility: hidden;
}

.containerC .card .imgBx img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) /*rota la imagenrotate(-25deg)*/;
    width: 270px;
}

.containerC .card .contentBx
{
    position: absolute;
    padding-right: 1%;/*alinear el nombre del madroño*/
    bottom: -5%;
    width: 91%;/*ancho de contenedor*/
    height: 100px;
    /*text-align: center;*/
    transition: 1s;
    z-index: 10;
}

.scroll{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 81%;
    text-align: center;
    z-index: 10;
    padding: 1rem 0.60rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    line-height: 1.3;
    overflow: auto;
}

.scroll:hover{
    position: absolute;
    opacity: 1;
    visibility:visible;
    width: 100%;
    height: 81%;
    text-align: center;
    z-index: 10;
    padding: 1rem 0.60rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    line-height: 1.3;
    overflow: auto;
}

/* Estilos para scrollbar en body para motores Webkit y blink (Chrome, Safari, Opera... )*/
.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .scroll::-webkit-scrollbar:vertical {
    width:11px;
  }
  
  .scroll::-webkit-scrollbar-button:increment,.scroll::-webkit-scrollbar-button {
    display: none;
  } 
  
  .scroll::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 20px;
    border: 2px rgba(255, 255, 255, 0.705);
  }
  
  .scroll::-webkit-scrollbar-track {
    border-radius: 10px;  
  }
  /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

/*oculta la barra para hacer scroll
.scroll::-webkit-scrollbar {
    display: none;
}*/

.gradient{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.0));
}

.containerC .card:hover .contentBx
{
   height: 100%;
}

.containerC .card .contentBx .h2
{
    position: relative;
    width: 100%;
    font-size: 110%;/*//////////////////*/
    font-weight: 700;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: not-allowed;
    pointer-events: none;
}

.containerC .card .contentBx .size
{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.containerC .card .contentBx .size,
.containerC .card .contentBx .color
{
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

/*animacion para que aparesca info SIZE*/
.containerC .card:hover .contentBx .size
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

/*animacion para que aparesca info COLOR*/
.containerC .card:hover .contentBx .color
{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.containerC .card .contentBx .size .h3,
.containerC .card .contentBx .color .h3
{
     color: #fff;
     text-align: left;
     /*font-weight: 300;*/
     font-size: 14px;
     text-transform: uppercase;
     Letter-spacing: 2px;
     margin-right: 10px;
     cursor: not-allowed;
     pointer-events:none;
}

/*parte de Size(numeros)*/
.containerC .card .contentBx .size .span
{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0.5px;
    transition: 0.5s;
    border-radius: 4px;
    cursor: not-allowed;
    pointer-events:none;
}

/*parte de Size(numeros)*/
.containerC .card .contentBx .size .spant
{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 16px;
    font-size: 13px;
    display: inline-block;
    font-weight: 300;
    /*background: #fff;*/
    color: rgb(255, 255, 255);
    /*margin: 0.5px;*/
    transition: 0.5s;
    border-radius: 4px;
    cursor: not-allowed;
    pointer-events:none;
}

/*color cuando se pone cursor sobre el recuadro del numero en SIZE*/
.containerC .card .contentBx .size .span:hover
{
    background: #9bdc28;
}

/*Paletas de color*/
.containerC .card .contentBx .color .span
{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.containerC .card .contentBx .color .span:nth-child(2)
{
    background: #9bdc28;
}

.containerC .card .contentBx .color .span:nth-child(3)
{
    background: #e01212;
}

.containerC .card .contentBx .color .span:nth-child(4)
{
    background: #2870dc;
}

/*Diseño de Boton con etiqueta <a></a>*/
.containerC .card .contentBx /*a*/.buttonColor  
{
    display: inline-block;
    padding: 10px 20px;
    background: rgb(155, 219, 43);
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    cursor: pointer;
}

/*animacion para el que el boton aparesca boton*/
.containerC .card:hover .contentBx /*a*/.buttonColor
{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.80s;
}

/*color cuando se pone cursor sobre el recuadro del numero en SIZE*/
.containerC .card .contentBx /*a*/.buttonColor:hover
{
    background: #fff;
}

.imgBr{
    border-radius: 30px;
}

/*////////////////BOTON CONSULTA////////////////////*/
.buttonColorCons
{
    display:inline-flex;
    padding: 21% 34% 21% 50%;
    margin: 3% 0% 3% 8%;
    background: #80B0D2;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 800;
    font-size: 250%;
    color: #111;
    transition: 0.9s;
    background-image: url('../img/busquedaM.png');
    background-position: center; /* también sirve con: center center */
    background-repeat: no-repeat;
          background-size: 45% 90%;
    cursor: pointer;
}

/*color cuando se pone cursor sobre el recuadro del numero en SIZE*/
.buttonColorCons:hover
{
    background: #CAE2F0;
    background-image: url('../img/busquedaMCursor.png');
    background-position: center; /* también sirve con: center center */
          background-size: 45% 90%;
    background-repeat: no-repeat;
}
/*////////////////BOTON CONSULTA////////////////////*/

/*/////////////////////////////CARD PREGUNTAS////////////////////////////*/
.containCards{
    z-index: 1;
    position: absolute;
    display: flex;
    margin: auto;
    top: 3%;
    left: 20%;
    width: 60%;
    padding: 2%;
    min-height: 50%;
    text-align: justify;
}

.containCards .CardPreguntas
{
    z-index: 2;
    position: relative;
    display: flex;
    margin: auto;
    padding: 18% 6% 18% 6%;
    background-image: linear-gradient(-20deg, #6e802e 5%,#2e2e2e 100%);
    border-radius: 5%;
    display: grid;
}

/*responsivo*/
@media (max-width: 1170px){
    .containCards{
        z-index: 1;
        position: absolute;
        display: flex;
        margin: auto;
        top: 8.5%;
        left: 20%;
        width: 60%;
        padding: 2%;
        height: auto;
        min-height: 50%;
        text-align: justify;
    }
    
    .containCards .CardPreguntas
    {
        z-index: 2;
        position: relative;
        display: flex;
        margin: auto;
        padding: 18% 6% 18% 6%;
        background-image: linear-gradient(-20deg, #6e802e 5%,#2e2e2e 100%);
        border-radius: 5%;
        display: grid;
    }

}
/*responsivo*/
/*/////////////////////////////CARD PREGUNTAS////////////////////////////*/

/*/////////////////////////////CARD Titulo Respuestas////////////////////////////*/

.CardTituloRes
{
    z-index: 3;
    padding: 1% 11% 3% 11%;/*3% 11% 3% 11%*/
    margin: auto;/*2% 7% 3% 6%*/
    background-image: linear-gradient(-20deg, #6e802e 5%,#2e2e2e 100%);
    border-radius: 70px;
    text-decoration: none;
}
.txtRes
{
    z-index: 4;
    text-align: center;
    font-weight: 550;
    font-size: 4.5vw;
    cursor:default;
    color: #ffffff;
}


/*/////////////////////////////CARD Titulo Respuestas////////////////////////////*/

/*/////////////////////////////PREGUNTA////////////////////////////*/
.txtPregunta
{
    text-align: center;
    /*background: #ffffff;*/
    font-weight: 550;
    font-size: 3vw;
    cursor:default;
    color: #ffffff;
}
.ContainerRes{
    position: relative;
    display: flex;
    margin: auto;
    height: 30vh;
    border-radius: 1.5rem;
    color: #333;
    overflow: auto;
    display: grid;
    text-align: justify;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    
    /*background: red;*/
    margin-top: 5%;
    padding-bottom: 2%;

}


/* Estilos para scrollbar en body para motores Webkit y blink (Chrome, Safari, Opera... )*/
.ContainerRes::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .ContainerRes::-webkit-scrollbar:vertical {
    width:11px;
  }
  
  .ContainerRes::-webkit-scrollbar-button:increment,.ContainerRes::-webkit-scrollbar-button {
    display: none;
  } 
  
  .ContainerRes::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .ContainerRes::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 20px;
    border: 2px rgba(255, 255, 255, 0.705);
  }
  
  .ContainerRes::-webkit-scrollbar-track {
    border-radius: 10px;  
  }
  /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/



/*
.ContainerRes::-webkit-scrollbar {
    display: none;
}*/
/*/////////////////////////////PREGUNTA////////////////////////////*/

/*////////////////BOTON RESPUESTAS////////////////////*/
.buttonColorRes
{
    display: flex;
    margin-top: 2%;
    padding: 10px 20px;
    background: rgb(46, 46, 46);
    color: #ffffff;
    border-radius: 90px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.3vw;
    transition: 1s;
    cursor: pointer;
}

/*color cuando se pone cursor sobre el recuadro del numero en SIZE*/
.buttonColorRes:hover
{
    background: #ffffff;
    color: rgb(41, 41, 41);
}
/*////////////////BOTON RESPUESTAS////////////////////*/

/*////////////////BOTON INTENTAR OTRA VEZ////////////////////*/
.buttonColorOtraVez
{
    display: inline-flex;
    margin-top: 2%;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 180px;
    background: rgb(41, 41, 41);
    color: #ffffff;
    border-color: rgb(41, 41, 41);
    text-decoration: none;
    font-size: 1vw;
    font-weight: 600;
    opacity: 1;
    /*transform: translateY(0px);*/
    transition: 0.2s;
    cursor: pointer;
}

/*color cuando se pone cursor sobre el recuadro del numero en SIZE*/
.buttonColorOtraVez:hover
{
    border-style: solid;
    background: none;
    border-color: rgb(41, 41, 41);
    color: rgb(41, 41, 41);

}


/*////////////////BOTON INTENTAR OTRA VEZ////////////////////*/

/*/////////////////////////////estilo de VENTANA/////////////////////////////
.modal-container
{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;/*posicion de la ventana
    left: 0;/*permite que se scrole
    background: rgba(0, 0, 0, 0.5);/*fondo de la ventana
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal
{
    height: 90%;
    width: 70%;
    /*overflow-y: scroll;hacer scroll
    /*overflow: hidden;el contenido permanece dentro de la ventana
    background-image: linear-gradient(to top, #2c2c2c 0%, black 100%);
    text-align: center;/*
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;/*
    position: absolute;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 20px;
    
}

.modal:before
{
    content: 'MADROÑO';
    transform: translateX(-50);
    position: absolute;
    font-size: 12vw;
    color: rgba(97, 97, 97, 0.1);
    display: flex;
    align-items: center;
    font-weight: 900;
    margin-top: 20vh;
    padding-left: 4%;
}

.close
{
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #fff;
    color: rgb(68, 68, 68);
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;

}

.modal-close
{
   transform: translateY(-200%);
}

.modal > img
{
    height: 65%;
}

@media screen and (max-width:1000px){
    .sect{
        flex-direction: column-reverse;
    }
    .sect > img{
        height:40%;
    }

    .contenedor-textos
    {
        text-align: center;
    }
}

@media screen and (max-width:600px){
    .sect > img{
        height:25%;
    }

    .modal img
    {
        height: 30%;
    }
}

.scrol{
    position: absolute;
    width: 100%;
    height: 81%;
    z-index: 10;
    padding: 1rem 0.60rem;
    border-radius: 5rem;
    color: #333;
    font-family: sans-serif;
    line-height: 1.3;
    overflow:auto;
}

.scrol::-webkit-scrollbar {
    display: none;
}

.headerr
{
    padding-left: 4%;
    padding-top: 2%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.ats
{
    cursor: pointer;
}

.LogoDetalle img
{
    max-width: 90px;
}

.contentDetalle
{
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.contentDetalle .imgB
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contentDetalle .imgB img
{
    max-width: 100%;
}

.contentDetalle .t
{
    text-align: justify;
    color: #fff;
    padding-left: 5%;
    max-width: 700px;
    margin-top: 20px;
}

.contentDetalle .h2txt
{
    text-align: justify;
    padding-left: 1%;
    color: #fff;
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
}

.contentDetalle .t .ptxt
{
    color: white;
}


@media (max-width: 767px)
{
    .headerr
    {
        padding: 20px 40px;
    }
    .contentDetalle
    {
        padding: 40px;
    }
}
*/
